
html { font-size: 100.01%; }
body,p,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,th,td,hr { margin: 0; padding: 0; }

@font-face {
	font-family: 'CodeBoldRegular';
	src: url('../font/code_bold-webfont.eot');
	src: local('â˜º'), url('../font/code_bold-webfont.woff') format('woff'), url('../font/code_bold-webfont.ttf') format('truetype'), url('../font/code_bold-webfont.svg#webfontO8llPGWl') format('svg');
	font-weight: normal;
	font-style: normal;
}

body {
	background: #15110C;
	color: #FFF;
	font: 14px/20px Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
}

.article,
.entry-meta,
#main .content,
.congratulation {
	color: #211;
	font-family: Georgia, Times, "Times New Roman", serif;
}

#home .entry-meta {
	color: #FFF;
}



/* HEADINGS
------------------------------------------------------------------------------------------*/

h1,h2,h3,h4,h5,h6 {
	color: #F90;
	font-family: CodeBoldRegular, Helvetica, Arial, 'Liberation Sans', FreeSans, sans-serif;
	font-size: 100%;
	font-weight: normal;
	letter-spacing: 1px;
}

h1, h2, .header {
	font-size: 18px;
	line-height: 30px;
}

h2 {
	color: #FFF;
	margin-bottom: 20px;
}

h3 {
	font-size: 16px;
	line-height: 30px;
	margin-bottom: 10px;
}

h4, h5, h6 {
	font-size: 14px;
	line-height: 20px;
	margin-bottom: 10px;
}

.page-title {
	color: #E6E4D8;
	font-size: 28px;
	letter-spacing: 2px;
	line-height: 40px;
	margin-bottom: 40px;
	padding-left: 20px;
}

.large {
	font-size: 17px;
	line-height: 30px;
}

.intro {
	font-size: 15px;
	font-weight: bold;
	line-height: 25px;
}

/* ACTIONS */
#actions h2 {
	color: #221;
	line-height: 40px;
	margin-bottom: 10px;
	padding-left: 45px;
}


/* ORANGE BLOCK TITLE */
.header,
#main .content h2 {
	background: #F90;
	border-bottom: 1px solid #D07D00;
	clear: left;
	color: #FFF;
	display: block;
	line-height: 25px;
	padding: 7px 20px 3px 30px;
	position: relative;
}

.ie6 #main .content h2,
.ie7 #main .content h2 { height: 1%; }

#main .content h2,
.page .entry-title { margin: 40px 0 20px -30px; }

#main .content h2:first-child { margin-top: 0; }



.page .entry-title {
	margin-bottom: 10px;
	margin-top: 0;
}

#blog .entry-title { padding: 0; }

#blog .entry-title a {
	background: #F90 url("../img/arrow_white.gif") no-repeat right 50%;
	color: #FFF;
	display: block;
	padding: 7px 20px 3px 30px;
	text-decoration: none;
}

#blog .entry-title a:hover,
#blog .entry-title a:focus {
	background-color: #FF5400;
}


.ie7 #main .content h2 { height: auto; }

.exterminated .header {
	background: #FF5400;
	border-bottom-color: #B53C00;
	text-decoration: line-through;
}


#home .entry-title { margin-bottom: 0; }

.entry-meta { font-style: italic; }

.page .entry-meta {
	color: #221;
	margin-bottom: 20px;
	margin-top: 10px;
}

.page .entry-content h3,
.page .entry-content h4,
.page .entry-content h5,
.page .entry-content h6 {
	margin-bottom: 0;
}

#sidebar h3 {
	color: #E6E4D8;
	padding-left: 3px;
}

.video-title {
	color: #221;
	display: block;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	padding: 3px 10px 10px;
}

a:link, a:visited {
	color: #FF5400;
}


#home .entry-title a:link,
#home .entry-title a:visited,
#home .entry-content a:link,
#home .entry-content a:visited,
 {
	border-bottom: 1px solid #F90;
	color: #F90;
	text-decoration: none;
}


a:hover,
a:focus,
a:active {
	border-bottom: 0 none !important;
	text-decoration: none;
}

:focus {
	outline: none;
}

p, ul, ol { margin-bottom: 20px; }

abbr {
	border-bottom: 1px dotted #221;
	cursor: help;
}

ul, ol { padding-left: 15px; }

ul { list-style: square; list-style-image: url("../img/bullet.gif"); }
ol { list-style: decimal; }



.congratulation {
	background: #15110C/* #FFBB55 */;
	color: #F90;
	font-size: 16px;
	font-style: italic;
	text-align: center;
	line-height: 25px;
	padding: 10px;
}

/* CONTAINER */
.container {
	margin: 0 auto;
	max-width: 1000px;
	position: relative;
	width: 90%;
}

.ie6 .container { width: 960px; }

.container:after,
.content:after,
.article:after,
.entry-content:after {
	clear: both;
	content: ".";
	display: block;
	height: 0;
	line-height: 0;
	visibility: hidden;
}

.ie6 .container, .ie7 .container,
.ie6 .content, .ie7 .content,
.ie6 .article, .ie7 .article,
.ie6 .entry-content, .ie7 .entry-content { height: 1%; }


/* SECTIONS */
#intro, #main	{ background: #1E1912; padding: 30px 0; }
#infos			{ padding: 30px 0 40px; }
#more			{ background: #1E1912; padding: 40px 0; }
#footer			{ padding: 20px 0; }
.page #actions	{ padding: 30px 0; }


/* CONTENT */
.primary,
.secondary,
.tertiary { display: inline; }

.primary	{ float: left; width: 65.625%; }
.secondary	{ float: right; width: 31.25%; }

.inner { padding-left: 20px; padding-right: 20px; }


 ARTICLE, HENTRY 
.article,
#main .content {
	background: #E6E4D8;
	border-bottom: 3px solid #F90;
	padding-bottom: 10px;
	padding-top: 20px;
}

.exterminated { border-bottom: 3px solid #FF5400; }

.article { margin-bottom: 30px; }


#home ./*hentry*/ {
	border-top: 1px solid #2F271C;
	margin-right: 20px;
	padding: 20px 0;
}

#home ./*hentry*/:first-child {
	border-top: 0;
	padding-top: 0;
}
/* end  */


/* HEADER
------------------------------------------------------------------------------------------*/
#header {
	background: #1E1913 url("../images/image.jpg") no-repeat center 180px;
	height: 580px;
}

.page #header {
	background-position: center 115px;
	height: 440px;
}

#inside-header,
#header .container {
	background: #1E1913;
	height: 180px;
}

#me {
	height: 140px;
	left: 20px;
	position: absolute;
	top: 0;
	width: 100px;
}

#logo {
	height: 100px;
	margin: 0 auto;
	padding-top: 30px;
	width: 380px;
}
/* header */


/* navbar
------------------------------------------------------------------------------------------*/
#navbar {
	background: #F90;
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	box-shadow: 0 1px 3px rgba(0,0,0,0.25);
	position: absolute;
	top: 160px;
	left: 0;
	width: 100%;
	z-index: 99;
}

#navbar ul { list-style: none; margin: 0; padding: 0; }
#navbar li { display: inline; float: left; width: 14%; }

#navbar .home			{ width: 12%; }
#navbar .plus			{ width: 18%; position: relative; }
#navbar .actions		{ width: 22%; }
#navbar .actualites	{ width: 14%; }
#navbar .petition		{ width: 20%; }

#navbar a {
	border-top: 1px solid #FB4;
	border-bottom: 1px solid #D80;
	color: #221;
	display: block;
	font-family: CodeBoldRegular, Helvetica, Arial, "Liberation Sans", FreeSans, sans-serif;
	font-size: 14px;
	letter-spacing: 1px;
	line-height: 38px;
	text-align: center;
	text-decoration: none;
	text-shadow: 0 1px 0 #FB6;
}

#navbar .current a,
#navbar .current .current a,
#navbar .current a:hover {
	color: #FFF;
	text-shadow: 0 1px 0 #D80;
}

#navbar .current li a {
	color: #221;
	text-shadow: 0 1px 0 #FB6;
}

#navbar a:hover,
#navbar a:focus {
	background: #FFBB44;
	border-top: 1px solid #FC7;
	border-bottom: 1px solid #C93 !important;
}

.carousel-inner>item>img, {
	display: block;
	line-height: 1;
}

img {margin: center; max-width:930px; height:580px;, float:left;}
#navbar .navbarbar-new {
	position: absolute;
	left: -999em;	
	width: 100%;
}

#navbar .navbar-new,
#navbar li.plus:hover { background: #FB4; }

#navbar .navbarbar-new li {
	float: none;
	width: 100%;
}

#navbar .navbarbar-new a,
#navbar li.plus:hover a {
	border-top: 1px solid #FEC96D;
	border-bottom: 1px solid #E2A63C !important;	
}

#navbar li.plus:hover a { background: none; }

#navbar .navbarbar-new li a:hover {
	background: #FEC96D;
	color: #221;
	text-shadow: 0 1px 0 #FB6;
}

#navbar .navbarbar-new .current a:hover {
	color: #FFF;
	text-shadow: 0 1px 0 #D80;
}

#navbar .plus:hover .navbarbar-new,
#navbar .hover .navbarbar-new {
	left: auto;
}
/* navbar */


/* FOOTER
------------------------------------------------------------------------------------------*/
#navbar-secondary,
#navbar-secondary ul { overflow: hidden; }

#navbar-secondary ul { list-style: none; margin: 0; padding: 0; }

#navbar-secondary li {
	display: inline;
	float: left;
	font-size: 12px;
}

#navbar-secondary a {
	border-right: 1px solid #FFF;
	color: #F90;
	margin-right: 10px;
	padding-right: 10px;
}

/* Timeline
------------------------------------------------------------------------------------------*/
#chart {
	background: #CBC5AB;
	font-size: 12px;
	height: 40px;
	margin-bottom: 40px;
	margin-top: 5em /*60px*/;
	position: relative;
	width: 100%;
}

#advance {
	background: #F90;
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
}

#bubble {
	background: #CBC5AB;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-khtml-border-radius: 2px;
	border-radius: 2px;
	color: #211;
	font-size: 12px;
	line-height: 2.5em /*30px*/;
	position: absolute;
	top: -3.3333em /*-40px*/;
	text-align: center;
	width: 9.167em /*110px*/;
	z-index: 97;
}

.arrow {
	border-color: #CBC5AB transparent transparent;
	border-style: solid;
	border-width: 10px;
	display: block;
	height: 0;
	margin-left: -10px;
	position: absolute;
	top: -0.9165em /*-11px*/;
	width: 0;
	z-index: 97;
}

.xtrem-left		{ left: -15px; }
.left			{ left: 0; }
.middle			{ margin-left: -4.5835em /*-55px*/; }
.right			{ right: 0; }
.xtrem-right	{ right: -15px; }

#graduation {
	height: 100%;
	left: 0;
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
	width: 100%;
}

#graduation li {
	background: #15110C;
	position: absolute;
	width: 2px;
	z-index: 96;
}

#graduation .tp { bottom: 0; }
#graduation .bt { bottom: 0; }
#graduation .g15 { height: 10px; }
#graduation .g10 { height: 6px; }
#graduation .g05 { height: 3px; }

.g0		{ left: 0; display: none; }
.g1000	{ left: 20%; }
.g2000	{ left: 40%; }
.g3000	{ left: 60%; }
.g4000	{ left: 80%; }
.g5000	{ right: 0; display: none; }

.g500	{ left: 10%; }
.g1500	{ left: 30%; }
.g2500	{ left: 50%; }
.g3500	{ left: 70%; }
.g4500	{ left: 90%; }

.g250	{ left: 5%; }
.g750	{ left: 15%; }
.g1250	{ left: 25%; }
.g1750	{ left: 35%; }
.g2250	{ left: 45%; }
.g2750	{ left: 55%; }
.g3250	{ left: 65%; }
.g3750	{ left: 75%; }
.g4250	{ left: 85%; }
.g4750	{ left: 95%; }

#chart p {
	background: #FF7800;
	color: #FFF;
	font-size: 15px;
	font-weight: normal;
	line-height: 24px;
	padding: 0 10px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	position: absolute;
	top: 8px;
	right: 10px;
	z-index: 99;
}



/* @group -860PX
------------------------------------------------------------------------------------------*/
@media (max-width: 860px) {
	
	/* @group --HEADER
	-------------------------------------*/
	#header,
	.page #header,
	#inside-header,
	#header .container { height: 580px; }
	
	#inside-header,
	#header .container { background: none; }
	
	#header,
	.page #header { background-position: -320px 150px; }
	
	#me	{ left: 10px; width: 80px; }
	#logo	{ margin-left: 30%; padding-top: 15px; width: 320px; }
	
	#me img,
	#logo img { height: auto; width: 100%; }
	/* header */

	@media (max-width: 860px) {
	
	/* mycrousel
	-------------------------------------*/
	#myCarousel
	
		{ left: 10px; width: 80px; 
		 margin-left: 30%; padding-top: 15px; width: 320px; }
	
	 img,
	img { height: auto; width: 100%; }
	/* mycarousel */
	
	/* navbar
	-------------------------------------*/
	#navbar {
		margin-top: 15px;
		position: static;
		width: 35%;
	}
	
	#navbar li { float:none; width: auto; }
	#navbar a	{ padding: 0 20px; text-align:left; }
	
	#navbar .navbarbar-new {
		background: #FFBB44;
		left: -999em;
		position: absolute;
		width: 100%;
	}
	
	#navbar li.plus:hover .navbarbar-new,
	#navbar li.hover .navbarbar-new {
		left: -999em;
	}
	
	#especes #navbar .navbarbar-new,
	#menaces #navbar .navbarbar-new,
	#cartes-menaces #navbar .navbarbar-new {
		position: static;
	}
	
	#navbar li.plus:hover a {
		background: #FFBB44;
		border-top: 1px solid #FC7;
		border-bottom: 1px solid #C93 !important;	
	}
	/* navbar */
	
	/* LAYOUT
	-------------------------------------*/
	#intro .primary,
	#intro .secondary,
	#more .primary,
	#more .secondary,
	 {
		display: block;
		float: none;
		width: auto;
	}
	
	#intro .primary { padding-bottom: 20px; }
	#more .primary	{ padding-bottom: 40px; }
	

@media (max-width: 600px) {
	
	.container {
		margin: 0;
		width: 100%;
	}
	
	#header,
	#inside-header,
	#header .container {
		height: auto !important;
	}
	
	#me { height: 80px; width: 50px; }
	#logo { height: 80px; margin-left: 25%; padding-top: 15px; width: 200px; }

	.myCarousel { height: 80px; margin-left: 25%; padding-top: 15px; width: 200px; }
	
	#navbar { margin: 0; width: 100%; }
	#navbar a { text-align:center; }
	
	.primary,
	.secondary,
	.tertiary {
		display: inline-block;
		float: left;
		width: auto !important;
	}
	
	#intro { padding-bottom: 0; }
	#intro .primary { padding: 0 20px; }
	
	#infos,
	#more .primary,
	#more h2, .page #actions,
	#petition .content h2,
	#petition .content .primary,
	#footer .secondary {
		display: none !important;
	}
	
	
	.article { margin-bottom: 10px; }
	.article:last-child { margin-bottom: 0; }
	
	